.mcafee__fullWidth__partialView__carousel {
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden
}

@media(max-width: 768px) {
    .mcafee__fullWidth__partialView__carousel {
        padding: 1rem
    }
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__swiper__section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
    font-size: 2rem;
    color: #000;
    font-weight: 500
}

@media(max-width: 768px) {
    .mcafee__fullWidth__partialView__carousel .mcafee__fdr__swiper__section__title {
        font-size: 1.6rem
    }
}

@media(max-width: 500px) {
    .mcafee__fullWidth__partialView__carousel .mcafee__fdr__swiper__section__title {
        display: inline-block
    }
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__index__carousel {
    position: relative;
    min-height: 540px;
    overflow: visible
}

.mcafee__fullWidth__partialView__carousel .swiper-slide {
    width: 100%;
    height: 540px;
    background-position-x: 50%;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    opacity: .5;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease
}

.mcafee__fullWidth__partialView__carousel .swiper-slide.swiper-slide-active {
    opacity: 1
}

.mcafee__fullWidth__partialView__carousel .swiper-slide.swiper-slide-active .slider__popup__message {
    -webkit-animation: .7s cubic-bezier(0.48, 0.15, 0.05, 1.47) slide__hero__up;
    animation: .7s cubic-bezier(0.48, 0.15, 0.05, 1.47) slide__hero__up;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal
}

@media(max-width: 768px) {
    .mcafee__fullWidth__partialView__carousel .swiper-slide {
        height: 600px;
        background-position: center;
        background-size: cover
    }
}

.mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    height: 95%;
    padding: 2rem 3rem;
    max-width: 680px
}

.mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window {
    position: absolute;
    top: 2rem;
    right: 10%
}

@media (max-width: 1800px) {
    .mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window.slider__popup__window__left {
      left: 10%;
    }
  }  

.mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window .popup__xl {
    display: block
}

.mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window .popup__md {
    display: none
}

@media(max-width: 768px) {
    .mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper {
        padding: 2rem;
        height: 95%
    }

    .mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window {
        left: 1rem
    }

    .mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window .popup__xl {
        display: none
    }

    .mcafee__fullWidth__partialView__carousel .swiper-slide .slide__content__wrapper .slider__popup__window .popup__md {
        display: block;
        max-width: 220px
    }
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__content {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .4rem
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__content .mcafee__fdr__title {
    font-size: 28px;
    font-weight: 500
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__content .mcafee__fdr__new__badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: .2rem .4rem;
    font-size: .8rem;
    font-weight: 600;
    border-radius: .3rem;
    background: var(--brand-dark-red)
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__pagination {
    position: static;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mcafee__fullWidth__partialView__carousel .mcafee__fdr__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 10px;
    width: 10px;
    background: #000 !important
}

.mcafee__fullWidth__partialView__carousel .swiper-button-next, .mcafee__fullWidth__partialView__carousel .swiper-button-prev {
    height: 100%;
    top: 0;
    width: 25%;
    opacity: 0
}

.fdr__bg__1 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/person-on-couch-on-laptop-ai_banner.png");
    background-position-x: 65% !important;
}

@media(max-width: 768px) {
    .fdr__bg__1 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/person-on-couch-on-laptop-ai_mob.png")
    }
}

.fdr__bg__2 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/person-looking-at-phone-spm_banner.png");
    background-position-x: 42% !important;
}

@media(max-width: 768px) {
    .fdr__bg__2 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/person-looking-at-phone-spm_mob.png")
    }
}

.fdr__bg__3 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/black-woman-short-blonde-hair-using-phone_banner.png");
    background-position-x: 70% !important;
}

@media(max-width: 768px) {
    .fdr__bg__3 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/black-woman-short-blonde-hair-using-phone_mob.png")
    }
}

.fdr__bg__4 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/couple-in-airport-using-laptop_banner.png")
}

@media(max-width: 768px) {
    .fdr__bg__4 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/couple-in-airport-using-laptop_mob.png")
    }
}

.fdr__bg__5 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/girl-using-phone-on-street_banner.png");
    background-position-x: 70% !important;
}

@media(max-width: 768px) {
    .fdr__bg__5 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/girl-using-phone-on-street_mob.png")
    }
}

.fdr__bg__6 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/older-couple-using-laptop-in-kitchen_banner.png")
}

@media(max-width: 768px) {
    .fdr__bg__6 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/older-couple-using-laptop-in-kitchen_mob.png")
    }
}

.fdr__bg__7 {
    background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/woman-in-library-using-phone_banner.png")
}

@media(max-width: 768px) {
    .fdr__bg__7 {
        background-image: url("/content/dam/npcld/custom-scripts/organic-site/img/feature-slider-imgs/woman-in-library-using-phone_mob.png")
    }
}

@-webkit-keyframes slide__hero__up {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 3.5rem);
        transform: translate(0, 3.5rem)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-50%, 0);
        transform: translateY(-50%, 0)
    }
}

@keyframes slide__hero__up {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 3.5rem);
        transform: translate(0, 3.5rem)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-50%, 0);
        transform: translateY(-50%, 0)
    }
}